	<!DOCTYPE html>
<html>
<head>


<style>


body {
    margin:0;
    padding:0;
    background: #000 url("/static/backgroundcity.jpg") center center fixed no-repeat;
    -moz-background-size: cover;
    background-size: cover;
}


h1 {
    color: #ffb5b5;
    text-align: center;
    font-family: Felix Titling;
    font-size: 400%;
    padding-top: 20px;
}

h2{
	color:#c10088 ;
	text-align: center;
	font-size: 100%;
	font-family:DejaVu Sans Light ;
}
</style>
 <link rel="stylesheet" href="/static/navbar.css"/>
 <link rel="stylesheet" href="/static/img.css"/>
</head>
<body>
<ul>
  <li style="float:left"><b class="active" href="#taiwan">TAIWAN-TAIPEI</b></li>
  <li style="float:right"><a href='contact.html'>Contact Us</a></li>
  <li style="float:right"><a href='hotel.html'>Hotel</a></li>
  <li style="float:right"><a href='transportation.html'>Transportation</a></li>
  <li style="float:right"><a href='home.html'>Home</a></li>
</ul>
<table align="center">
	<tr>
		<h1 colspan="5">&#9973 Top 10 Sightseeing Spots &#9973 </h1>
	</tr>

	<tr>
		<td><div class="responsive">
			<div class="img">
		  		<a href="taipei101.html">
		    		<img src="/static/taipei101.jpg" alt="Taipei101" width="200" height="200">
		  		</a>
			</div>
		</div></td>

		<td><div class="responsive">
			<div class="img">
		  		<a href="Chiang Kai-shek Memorial Hall.html">
		   			 <img src="/static/cks.jpg" alt="Chiang Kai Shek Memorial Hall" width="200" height="200">
		 		 </a>
			</div>
		</div></td>

		<td><div class="responsive">
			<div class="img">
		  		<a href="National Palace Museum.html">
		   			 <img src="/static/museum.jpg" alt="National Museum" width="200" height="200">
		  		</a>
			</div>
		</div></td>

		<td><div class="responsive">
			<div class="img">
		  		<a href="Yeh Liu Geo Park.html">
		    		<img src="/static/yehliu.jpg" alt="Yeh liu" width="200" height="200">
		  		</a>
			</div>
		</div></td>


		<td><div class="responsive">
			<div class="img">
		  		<a href="Yangmingshan National Park.html">
		    		<img src="/static/yangminshan.jpg" alt="Yang Ming Shan" width="200" height="200">
		  		</a>
		  	</div>
		 </div></td> 
	</tr>	 


	<tr>
		<td><div class="responsive">
			<div class="img">
		  		<a  href="Huashan 1914 Creative Park.html">
		    		<img src="/static/upsidedown.jpg" alt="Huashan Park" width="200" height="200">
		  		</a>
		  	</div>
		</div></td>

		<td><div class="responsive">
			<div class="img">
		  		<a  href="xingtian temple.html">
		    		<img src="/static/xingtian.jpg" alt="Xing Tian" width="200" height="200">
		  		</a>
		  	</div>	
		</div></td>

		<td><div class="responsive">
			<div class="img">
		  		<a  href="Tamsui.html">
		    		<img src="/static/tamsui.jpg" alt="Tamsui" width="200" height="200">
		  		</a>
		  	</div>	
		</div></td>

		<td><div class="responsive">
			<div class="img">
		  		<a href="Chiufen.html">
		    		<img src="/static/jiufen.jpg" alt="Jiu Fen" width="200" height="200">
		  		</a>
		  	</div>	
		</div></td>

		<td><div class="responsive">
			<div class="img">
		  		<a href="Longshan Temple.html">
		    		<img src="/static/longshan.jpg" alt="Long Shan" width="200" height="200">
		  		</a>
		  	</div>
		 </div></td>
	</tr>
</table>	 		
</body>
</html>
